# Secrets & Credentials
.env
.env.*
*.secret
*.pem
*.key
*service-account*.json
*credentials*.json
app/core/firebase-service-account.json

# Python
__pycache__/
*.pyc
venv/
.venv/

# IDE
.vscode/
.idea/